<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Izmeni posao</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <script crossorigin="anonymous"
            integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div th:replace="fragment/header :: header">
</div>
<div>
    <h1 class="text-center m-5">Dodaj posao</h1>
    <form class="m-3 mx-auto border rounded-1 p-3 w-25" id="form" method="post"
          th:action="@{/profile/poslodavac/posao/izmeni/{id}(id=${posao.id})}"
          th:object="${posao}">
        <div class="mb-3">
            <label class="form-label">Sektor:</label><br>
            <select class="form-control" th:field="*{sektor}">
                <option th:value="IT">IT</option>
                <option th:value="Menadzment">Menadzment</option>
                <option th:value="QA">QA</option>
            </select>
            <div class="form-text" th:classappend="text-danger" th:errors="*{sektor}"
                 th:if="${#fields.hasErrors('sektor')}"></div>
        </div>
        <div class="mb-3">
            <label class="form-label">Naziv pozicije:</label><br>
            <input class="form-control" th:field="*{nazivPozicije}" type="text">
            <div class="form-text" th:classappend="text-danger" th:errors="*{nazivPozicije}"
                 th:if="${#fields.hasErrors('nazivPozicije')}"></div>
        </div>
        <div class="mb-3">
            <label class="form-label">Tehnologije:</label><br>
            <textarea class="form-control" th:field="*{tehnologije}">
            </textarea>
        </div>
        <div class="mb-3">
            <label class="form-label">Grad:</label><br>
            <select class="form-control" th:field="*{grad}">
                <option th:value="Nis">Nis</option>
                <option th:value="Beograd">Beograd</option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Senioritet: </label><br>
            <select class="form-control" th:field="*{senioritet}">
                <option th:value="junior">Junior</option>
                <option th:value="medior">Medior</option>
                <option th:value="senior">Senior</option>
            </select>
        </div>

        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</div>
<script crossorigin="anonymous"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>