<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div th:replace="fragment/header :: header">
</div>
<div id="content" class="d-flex flex-column">
    <h1 class="m-5 mb-0 text-center">
        Izaberite tip profila
    </h1>
    <div id="registration-options" class="d-flex justify-content-center">
        <div class="card m-5 text-center" style="width: 18rem;">
            <img src="/images/employee.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Poslodavac</h5>
                <p class="card-text">Napravi profil za poslodavca i nadji odgovarajuceg radnika za svoje potrebe</p>
                <a th:href="@{/register/poslodavac}" class="btn btn-primary mx-auto">Izaberi</a>
            </div>
        </div>
        <div class="card m-5 text-center" style="width: 18rem;">
            <img src="/images/company.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Radnik</h5>
                <p class="card-text">Na lak i brz nacin nadji posao u IT sektoru</p>
                <br/>
                <a th:href="@{/register/radnik}" class="btn btn-primary">Izaberi</a>
            </div>
        </div>
    </div>
</div>
<script crossorigin="anonymous"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>